// ==========================================================================
// Grid Columns
// ==========================================================================


%col {
    float: left;
    padding: 0 10px;
    margin-left: 2%;
}


// Calculate grid columns

@for $i from 1 through $g-col-count {

    $context: g-context($g-col-width, $g-col-count, $g-gutter-width);
    $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));

    // Generate column modifier classes

    .grid__col--#{$i} {
        width: percentage($target / $context);
    }

}

